h1 {
    color:white;
    background-color:red;
    font-family: sans-serif;
    text-align: center;
    font-size: 250%;
}
body {
    font-family: sans-serif;
    margin: 20px;
    text-align: justify;
    font-size: 120%;
}